*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: black;
  font-size: 14px;
}

body {
  margin: 0;
}

// BOOTSTRAP VARIABLE OVERWRITE
$grid-gutter-width: 16px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
);

// BOOTSTRAP 4 GRID
@import "../node_modules/bootstrap/scss/bootstrap-grid";

.container-trt {
  max-width: 1328px;
  padding-left: 24px;
  padding-right: 24px;

  @include media-breakpoint-up(md) {
    padding-left: 56px;
    padding-right: 56px;
  }
}


// --------------TECH DEBT----------------------------------------------------------
.content {
  width: 100%;
}

.content-image-placeholder {
  width: 100%;
  background: #F8F8F8;
  padding-bottom: 100%;
}

.header-container {
  border-bottom: 1px solid #F9F9F9;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: green;
  height: 72px;
  
  @include media-breakpoint-up(md) {
    height: 50px;
  }
}

.column {
  height: 1000px;
  background-color: rgb(200,200,200);
}


.button-bar {
  display: flex;
}

.button-icon {
  margin: 10px;
  display: flex;
}

.nav-button {
  padding: 5px 10px;
}