.content-image-placeholder {
  width: 100%;
  background: #F8F8F8;
  padding-bottom: 100%;
}

.column {
  height: 1000px;
  background-color: rgb(200,200,200);
}

.header {
  width: 100%;
  background: green;
  height: 72px;
}